.container .new-tweet {
  background-color: #eaeaea;
  border-radius: 10px;
  border: 1px solid lightgrey;
  margin: auto 2em;
  padding: 1em;
}

.new-tweet > h2 {
  border-bottom: 1px solid;
  margin-top: 0;
}

textarea {
  width: 100%;
  padding: 5px;
}

.notice {
  font-size: small;
  color: #ff0000;
  font-style: italic;
  padding-left: 2em;
  font-weight: bold;
}

.counter {
  float: right;
  font-size: small;
  font-style: italic;
  padding-top: 5px;
  padding-right: 1em;
}

.counter.excess {
  color: #ff0000;
}